factorio-current.log
player-data.json
crop-cache.dat
.lock
factorio-previous.log
blueprint-storage.dat
server-adminlist.json
blueprint-storage-version-0.15-backup.dat
blueprint-storage-version-0.16-backup.dat
blueprint-storage-version-0.17-backup.dat
blueprint-storage-version-0.18-backup.dat
blueprint-storage-version-0.19-backup.dat
server-id.json

saves/
temp/
mods/
config/
github/
scenarios/
script-output/